*{
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar{
    width: 100vw;
    height: 18vh;
    background: #ffffff;
}

.heading{
    margin-left: 180px;
    margin-bottom: 11px;
}


.img{
    width: 12vw;
    height: 18vh;
}

.conversion_formats_container{
    width: 100vw;
    height: 45vh;
    background: #762121;
   box-sizing: border-box;
}

.column{
    float: left;
    width: 13.33%;
    padding: 15px;
    margin-left: 115px;
    margin-top: 60px;
}

.conversion_format{
    color: white;
    margin-left: 36px;
}

a{
    text-decoration: none;
}

a:hover{
    color: rgb(6, 5, 6);
   text-decoration:underline solid;
}

.other_format{
    color: black;
    margin-left: 36px;
}

footer{
    padding: 10px;
    text-align: center;
}